{% extends '@Internal/mail/mail.html.twig' %}

{% block title %}
    Domain Verified: {{ domain }}
{% endblock %}

{% block heading %}
    Domain Verified: {{ domain }}
{% endblock %}

{% block content %}
    <p>
        Good news! Your domain <strong>{{ domain }}</strong> has been successfully verified.
        You can now use it to send emails through Hyvor Relay.
    </p>

    <p>
        Project: {{ project_name }} (ID: {{ project_id }})<br>
    </p>
{% endblock %}
